/*
PDX API

API for processing subscribers requests to the PDX API to retrieve one or more combinations of data, deliver and update records in a Members PDS and ensure record integrity is maintained.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apipdxsdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// CalendarAPIService CalendarAPI service
type CalendarAPIService service

type ApiDeleteCalendarEventRequest struct {
	ctx context.Context
	ApiService *CalendarAPIService
	connectionToken *string
	uid *string
	conId *string
	calendarEventDeleteRequestBody *CalendarEventDeleteRequestBody
}

// Member&#39;s Connection Key
func (r ApiDeleteCalendarEventRequest) ConnectionToken(connectionToken string) ApiDeleteCalendarEventRequest {
	r.connectionToken = &connectionToken
	return r
}

// The unique ID of a mydex member
func (r ApiDeleteCalendarEventRequest) Uid(uid string) ApiDeleteCalendarEventRequest {
	r.uid = &uid
	return r
}

// The connection_id is a shared id between a connection and a member. It is a hyphenated combination of the member UID and the Dedicated Connection NID.
func (r ApiDeleteCalendarEventRequest) ConId(conId string) ApiDeleteCalendarEventRequest {
	r.conId = &conId
	return r
}

func (r ApiDeleteCalendarEventRequest) CalendarEventDeleteRequestBody(calendarEventDeleteRequestBody CalendarEventDeleteRequestBody) ApiDeleteCalendarEventRequest {
	r.calendarEventDeleteRequestBody = &calendarEventDeleteRequestBody
	return r
}

func (r ApiDeleteCalendarEventRequest) Execute() (*DeleteResponse, *http.Response, error) {
	return r.ApiService.DeleteCalendarEventExecute(r)
}

/*
DeleteCalendarEvent Supports deleting a calendar-event.

Deletes an event in the user's calendar.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteCalendarEventRequest
*/
func (a *CalendarAPIService) DeleteCalendarEvent(ctx context.Context) ApiDeleteCalendarEventRequest {
	return ApiDeleteCalendarEventRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DeleteResponse
func (a *CalendarAPIService) DeleteCalendarEventExecute(r ApiDeleteCalendarEventRequest) (*DeleteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CalendarAPIService.DeleteCalendarEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/calendar/delete-event"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectionToken == nil {
		return localVarReturnValue, nil, reportError("connectionToken is required and must be specified")
	}
	if r.uid == nil {
		return localVarReturnValue, nil, reportError("uid is required and must be specified")
	}
	if r.conId == nil {
		return localVarReturnValue, nil, reportError("conId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uid", r.uid, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "con_id", r.conId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Connection-Token", r.connectionToken, "simple", "")
	// body params
	localVarPostBody = r.calendarEventDeleteRequestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCalendarAppointmentsRequest struct {
	ctx context.Context
	ApiService *CalendarAPIService
	connectionToken *string
	uid *string
	conId *string
	context *string
	contextId *int32
}

// Member&#39;s Connection Key
func (r ApiGetCalendarAppointmentsRequest) ConnectionToken(connectionToken string) ApiGetCalendarAppointmentsRequest {
	r.connectionToken = &connectionToken
	return r
}

// The unique ID of a mydex member
func (r ApiGetCalendarAppointmentsRequest) Uid(uid string) ApiGetCalendarAppointmentsRequest {
	r.uid = &uid
	return r
}

// The connection_id is a shared id between a connection and a member. It is a hyphenated combination of the member UID and the Dedicated Connection NID.
func (r ApiGetCalendarAppointmentsRequest) ConId(conId string) ApiGetCalendarAppointmentsRequest {
	r.conId = &conId
	return r
}

// The context this belongs to
func (r ApiGetCalendarAppointmentsRequest) Context(context string) ApiGetCalendarAppointmentsRequest {
	r.context = &context
	return r
}

// The specific ID of the context record
func (r ApiGetCalendarAppointmentsRequest) ContextId(contextId int32) ApiGetCalendarAppointmentsRequest {
	r.contextId = &contextId
	return r
}

func (r ApiGetCalendarAppointmentsRequest) Execute() (*GetAppointmentsResponse, *http.Response, error) {
	return r.ApiService.GetCalendarAppointmentsExecute(r)
}

/*
GetCalendarAppointments Retrieve appointments for a given context

Returns a list of appointments filtered by context and context_id.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCalendarAppointmentsRequest
*/
func (a *CalendarAPIService) GetCalendarAppointments(ctx context.Context) ApiGetCalendarAppointmentsRequest {
	return ApiGetCalendarAppointmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetAppointmentsResponse
func (a *CalendarAPIService) GetCalendarAppointmentsExecute(r ApiGetCalendarAppointmentsRequest) (*GetAppointmentsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAppointmentsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CalendarAPIService.GetCalendarAppointments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/calendar/get-appointments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectionToken == nil {
		return localVarReturnValue, nil, reportError("connectionToken is required and must be specified")
	}
	if r.uid == nil {
		return localVarReturnValue, nil, reportError("uid is required and must be specified")
	}
	if r.conId == nil {
		return localVarReturnValue, nil, reportError("conId is required and must be specified")
	}
	if r.context == nil {
		return localVarReturnValue, nil, reportError("context is required and must be specified")
	}
	if r.contextId == nil {
		return localVarReturnValue, nil, reportError("contextId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uid", r.uid, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "con_id", r.conId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "context", r.context, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "context_id", r.contextId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Connection-Token", r.connectionToken, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCalendarEventsRequest struct {
	ctx context.Context
	ApiService *CalendarAPIService
	connectionToken *string
	uid *string
	conId *string
}

// Member&#39;s Connection Key
func (r ApiGetCalendarEventsRequest) ConnectionToken(connectionToken string) ApiGetCalendarEventsRequest {
	r.connectionToken = &connectionToken
	return r
}

// The unique ID of a mydex member
func (r ApiGetCalendarEventsRequest) Uid(uid string) ApiGetCalendarEventsRequest {
	r.uid = &uid
	return r
}

// The connection_id is a shared id between a connection and a member. It is a hyphenated combination of the member UID and the Dedicated Connection NID.
func (r ApiGetCalendarEventsRequest) ConId(conId string) ApiGetCalendarEventsRequest {
	r.conId = &conId
	return r
}

func (r ApiGetCalendarEventsRequest) Execute() (*GetEventsResponse, *http.Response, error) {
	return r.ApiService.GetCalendarEventsExecute(r)
}

/*
GetCalendarEvents Retrieve calendar events

Returns a list of calendar events.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCalendarEventsRequest
*/
func (a *CalendarAPIService) GetCalendarEvents(ctx context.Context) ApiGetCalendarEventsRequest {
	return ApiGetCalendarEventsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetEventsResponse
func (a *CalendarAPIService) GetCalendarEventsExecute(r ApiGetCalendarEventsRequest) (*GetEventsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetEventsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CalendarAPIService.GetCalendarEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/calendar/get-events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectionToken == nil {
		return localVarReturnValue, nil, reportError("connectionToken is required and must be specified")
	}
	if r.uid == nil {
		return localVarReturnValue, nil, reportError("uid is required and must be specified")
	}
	if r.conId == nil {
		return localVarReturnValue, nil, reportError("conId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uid", r.uid, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "con_id", r.conId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Connection-Token", r.connectionToken, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostCalendarAppointmentRequest struct {
	ctx context.Context
	ApiService *CalendarAPIService
	connectionToken *string
	uid *string
	conId *string
	calendarAppointmentCreateRequestBody *CalendarAppointmentCreateRequestBody
}

// Member&#39;s Connection Key
func (r ApiPostCalendarAppointmentRequest) ConnectionToken(connectionToken string) ApiPostCalendarAppointmentRequest {
	r.connectionToken = &connectionToken
	return r
}

// The unique ID of a mydex member
func (r ApiPostCalendarAppointmentRequest) Uid(uid string) ApiPostCalendarAppointmentRequest {
	r.uid = &uid
	return r
}

// The connection_id is a shared id between a connection and a member. It is a hyphenated combination of the member UID and the Dedicated Connection NID.
func (r ApiPostCalendarAppointmentRequest) ConId(conId string) ApiPostCalendarAppointmentRequest {
	r.conId = &conId
	return r
}

func (r ApiPostCalendarAppointmentRequest) CalendarAppointmentCreateRequestBody(calendarAppointmentCreateRequestBody CalendarAppointmentCreateRequestBody) ApiPostCalendarAppointmentRequest {
	r.calendarAppointmentCreateRequestBody = &calendarAppointmentCreateRequestBody
	return r
}

func (r ApiPostCalendarAppointmentRequest) Execute() (*CreateResponse, *http.Response, error) {
	return r.ApiService.PostCalendarAppointmentExecute(r)
}

/*
PostCalendarAppointment Supports adding a calendar-appointment.

Creates a new appointment in the user's calendar. An appointment must be made within a specified context e.g. a 'Referral'

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostCalendarAppointmentRequest
*/
func (a *CalendarAPIService) PostCalendarAppointment(ctx context.Context) ApiPostCalendarAppointmentRequest {
	return ApiPostCalendarAppointmentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateResponse
func (a *CalendarAPIService) PostCalendarAppointmentExecute(r ApiPostCalendarAppointmentRequest) (*CreateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CalendarAPIService.PostCalendarAppointment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/calendar/add-appointment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectionToken == nil {
		return localVarReturnValue, nil, reportError("connectionToken is required and must be specified")
	}
	if r.uid == nil {
		return localVarReturnValue, nil, reportError("uid is required and must be specified")
	}
	if r.conId == nil {
		return localVarReturnValue, nil, reportError("conId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uid", r.uid, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "con_id", r.conId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Connection-Token", r.connectionToken, "simple", "")
	// body params
	localVarPostBody = r.calendarAppointmentCreateRequestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostCalendarEventRequest struct {
	ctx context.Context
	ApiService *CalendarAPIService
	connectionToken *string
	uid *string
	conId *string
	calendarEventCreateRequestBody *CalendarEventCreateRequestBody
}

// Member&#39;s Connection Key
func (r ApiPostCalendarEventRequest) ConnectionToken(connectionToken string) ApiPostCalendarEventRequest {
	r.connectionToken = &connectionToken
	return r
}

// The unique ID of a mydex member
func (r ApiPostCalendarEventRequest) Uid(uid string) ApiPostCalendarEventRequest {
	r.uid = &uid
	return r
}

// The connection_id is a shared id between a connection and a member. It is a hyphenated combination of the member UID and the Dedicated Connection NID.
func (r ApiPostCalendarEventRequest) ConId(conId string) ApiPostCalendarEventRequest {
	r.conId = &conId
	return r
}

func (r ApiPostCalendarEventRequest) CalendarEventCreateRequestBody(calendarEventCreateRequestBody CalendarEventCreateRequestBody) ApiPostCalendarEventRequest {
	r.calendarEventCreateRequestBody = &calendarEventCreateRequestBody
	return r
}

func (r ApiPostCalendarEventRequest) Execute() (*CreateResponse, *http.Response, error) {
	return r.ApiService.PostCalendarEventExecute(r)
}

/*
PostCalendarEvent Supports adding a calendar-event.

Creates a new event in the user's calendar.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostCalendarEventRequest
*/
func (a *CalendarAPIService) PostCalendarEvent(ctx context.Context) ApiPostCalendarEventRequest {
	return ApiPostCalendarEventRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateResponse
func (a *CalendarAPIService) PostCalendarEventExecute(r ApiPostCalendarEventRequest) (*CreateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CalendarAPIService.PostCalendarEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/calendar/add-event"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectionToken == nil {
		return localVarReturnValue, nil, reportError("connectionToken is required and must be specified")
	}
	if r.uid == nil {
		return localVarReturnValue, nil, reportError("uid is required and must be specified")
	}
	if r.conId == nil {
		return localVarReturnValue, nil, reportError("conId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uid", r.uid, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "con_id", r.conId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Connection-Token", r.connectionToken, "simple", "")
	// body params
	localVarPostBody = r.calendarEventCreateRequestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPutCalendarEventRequest struct {
	ctx context.Context
	ApiService *CalendarAPIService
	connectionToken *string
	uid *string
	conId *string
	calendarEventUpdateRequestBody *CalendarEventUpdateRequestBody
}

// Member&#39;s Connection Key
func (r ApiPutCalendarEventRequest) ConnectionToken(connectionToken string) ApiPutCalendarEventRequest {
	r.connectionToken = &connectionToken
	return r
}

// The unique ID of a mydex member
func (r ApiPutCalendarEventRequest) Uid(uid string) ApiPutCalendarEventRequest {
	r.uid = &uid
	return r
}

// The connection_id is a shared id between a connection and a member. It is a hyphenated combination of the member UID and the Dedicated Connection NID.
func (r ApiPutCalendarEventRequest) ConId(conId string) ApiPutCalendarEventRequest {
	r.conId = &conId
	return r
}

func (r ApiPutCalendarEventRequest) CalendarEventUpdateRequestBody(calendarEventUpdateRequestBody CalendarEventUpdateRequestBody) ApiPutCalendarEventRequest {
	r.calendarEventUpdateRequestBody = &calendarEventUpdateRequestBody
	return r
}

func (r ApiPutCalendarEventRequest) Execute() (*UpdateResponse, *http.Response, error) {
	return r.ApiService.PutCalendarEventExecute(r)
}

/*
PutCalendarEvent Supports updating a calendar-event.

Updates an event in the user's calendar. For example, updating the 'status' from 'INVITED' to 'CONFIRMED' when a user accepts the invitation to an appointment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPutCalendarEventRequest
*/
func (a *CalendarAPIService) PutCalendarEvent(ctx context.Context) ApiPutCalendarEventRequest {
	return ApiPutCalendarEventRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UpdateResponse
func (a *CalendarAPIService) PutCalendarEventExecute(r ApiPutCalendarEventRequest) (*UpdateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CalendarAPIService.PutCalendarEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/calendar/update-event"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectionToken == nil {
		return localVarReturnValue, nil, reportError("connectionToken is required and must be specified")
	}
	if r.uid == nil {
		return localVarReturnValue, nil, reportError("uid is required and must be specified")
	}
	if r.conId == nil {
		return localVarReturnValue, nil, reportError("conId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uid", r.uid, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "con_id", r.conId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Connection-Token", r.connectionToken, "simple", "")
	// body params
	localVarPostBody = r.calendarEventUpdateRequestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
