/*
PDX API

API for processing subscribers requests to the PDX API to retrieve one or more combinations of data, deliver and update records in a Members PDS and ensure record integrity is maintained.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apipdxsdk

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// TimelineAPIService TimelineAPI service
type TimelineAPIService service

type ApiGetTimelineRequest struct {
	ctx context.Context
	ApiService *TimelineAPIService
	connectionToken *string
	uid *string
	conId *string
}

// Member&#39;s Connection Key
func (r ApiGetTimelineRequest) ConnectionToken(connectionToken string) ApiGetTimelineRequest {
	r.connectionToken = &connectionToken
	return r
}

// The unique ID of a mydex member
func (r ApiGetTimelineRequest) Uid(uid string) ApiGetTimelineRequest {
	r.uid = &uid
	return r
}

// The connection_id is a shared id between a connection and a member. It is a hyphenated combination of the member UID and the Dedicated Connection NID.
func (r ApiGetTimelineRequest) ConId(conId string) ApiGetTimelineRequest {
	r.conId = &conId
	return r
}

func (r ApiGetTimelineRequest) Execute() (*TimelineResponse, *http.Response, error) {
	return r.ApiService.GetTimelineExecute(r)
}

/*
GetTimeline Retrieve list of timeline items.

Returns a list of timeline items which includes: referrals, calendar events and secure messages.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTimelineRequest
*/
func (a *TimelineAPIService) GetTimeline(ctx context.Context) ApiGetTimelineRequest {
	return ApiGetTimelineRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TimelineResponse
func (a *TimelineAPIService) GetTimelineExecute(r ApiGetTimelineRequest) (*TimelineResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TimelineResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TimelineAPIService.GetTimeline")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/timeline"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectionToken == nil {
		return localVarReturnValue, nil, reportError("connectionToken is required and must be specified")
	}
	if r.uid == nil {
		return localVarReturnValue, nil, reportError("uid is required and must be specified")
	}
	if r.conId == nil {
		return localVarReturnValue, nil, reportError("conId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uid", r.uid, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "con_id", r.conId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Connection-Token", r.connectionToken, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTimelineItemRequest struct {
	ctx context.Context
	ApiService *TimelineAPIService
	connectionToken *string
	uid *string
	conId *string
	featureBlock *string
	featureBlockId *int32
}

// Member&#39;s Connection Key
func (r ApiGetTimelineItemRequest) ConnectionToken(connectionToken string) ApiGetTimelineItemRequest {
	r.connectionToken = &connectionToken
	return r
}

// The unique ID of a mydex member
func (r ApiGetTimelineItemRequest) Uid(uid string) ApiGetTimelineItemRequest {
	r.uid = &uid
	return r
}

// The connection_id is a shared id between a connection and a member. It is a hyphenated combination of the member UID and the Dedicated Connection NID.
func (r ApiGetTimelineItemRequest) ConId(conId string) ApiGetTimelineItemRequest {
	r.conId = &conId
	return r
}

// The feature block the teimline item belongs to
func (r ApiGetTimelineItemRequest) FeatureBlock(featureBlock string) ApiGetTimelineItemRequest {
	r.featureBlock = &featureBlock
	return r
}

// The specific ID of the record within the specified feature block e.g. if &#39;referrals&#39; is the feature block, then this should be a specific referral id
func (r ApiGetTimelineItemRequest) FeatureBlockId(featureBlockId int32) ApiGetTimelineItemRequest {
	r.featureBlockId = &featureBlockId
	return r
}

func (r ApiGetTimelineItemRequest) Execute() (*TimelineSingleItemResponse, *http.Response, error) {
	return r.ApiService.GetTimelineItemExecute(r)
}

/*
GetTimelineItem Retrieve a single timeline item.

Returns a single timeline item based on feature block and feature block id requested e.g. a 'referral' with id 123.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTimelineItemRequest
*/
func (a *TimelineAPIService) GetTimelineItem(ctx context.Context) ApiGetTimelineItemRequest {
	return ApiGetTimelineItemRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TimelineSingleItemResponse
func (a *TimelineAPIService) GetTimelineItemExecute(r ApiGetTimelineItemRequest) (*TimelineSingleItemResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TimelineSingleItemResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TimelineAPIService.GetTimelineItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/timeline/single-item"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.connectionToken == nil {
		return localVarReturnValue, nil, reportError("connectionToken is required and must be specified")
	}
	if r.uid == nil {
		return localVarReturnValue, nil, reportError("uid is required and must be specified")
	}
	if r.conId == nil {
		return localVarReturnValue, nil, reportError("conId is required and must be specified")
	}
	if r.featureBlock == nil {
		return localVarReturnValue, nil, reportError("featureBlock is required and must be specified")
	}
	if r.featureBlockId == nil {
		return localVarReturnValue, nil, reportError("featureBlockId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "uid", r.uid, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "con_id", r.conId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "feature_block", r.featureBlock, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "feature_block_id", r.featureBlockId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Connection-Token", r.connectionToken, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v AuthErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
